body {
    background-color: rgb(59, 65, 61);
}

h1 {
    text-align: center;
    color: rgb(221, 221, 221);
}

p {
    text-align: center;
    color: rgb(179, 179, 179);
    font-size: 18px;
    width: 60%;
    margin: 20px auto;
}

img {
    max-width: 200px;
    max-height: 300px;
}

.images {
    display: grid;
    gap: 10px;
    grid-template-rows: 350px 350px;
    grid-template-columns: repeat(6, 1fr);
}

.pie-graph {
    display: grid;
    gap: 5px;
    grid-template-rows: 300px 300px;
    grid-template-columns: repeat(6, 1fr);
}

#slider {
    margin-top: 30px;
    margin-bottom: 30px;
}

